---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <main class="mx-auto max-w-4xl px-4 py-8">
    <article class="prose prose-slate mx-auto">
      <h1 class="font-display text-4xl">{post.data.title}</h1>
      {
        post.data.image && (
          <img
            src={post.data.image}
            alt={post.data.title}
            class="my-8 rounded-lg"
          />
        )
      }
      <div class="mt-8">
        <Content />
      </div>
    </article>
  </main>
</BaseLayout>

