---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { LinkButton } from '@/components/ui/link-button';
import { ArrowRight } from 'lucide-react';
import { Card, CardHeader, CardContent, CardFooter } from '@/components/ui/card';
import BlogCard from '@/components/blog-card.astro';

const posts = await getCollection(
  'blog', ({ data }: CollectionEntry<'blog'>) => {
    return import.meta.env.DEV || !data.draft;
  }
);

// Sort by date
const sortedPosts: CollectionEntry<'blog'>[] = posts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.date.valueOf() - a.data.date.valueOf()
);



// Split posts into featured and regular
const [firstPost, secondPost, ...regularPosts] = sortedPosts;
---

<BaseLayout title="Blog - Margot Relooking" description="Découvrez nos articles sur le conseil en image">
  <main class="mx-auto max-w-4xl px-4 py-12">
    <h1 class="mb-12 font-display text-4xl">Articles</h1>
    <div class="grid gap-8 md:grid-cols-2 mb-12">
      {[firstPost, secondPost].map((post) => (
        <Card>
          <BlogCard post={post} showTags showMeta compact featured />
        </Card>
      ))}
    </div>

    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {regularPosts.map((post) => (
        <Card>
          <BlogCard post={post} showTags showMeta compact />
        </Card>
      ))}
    </div>
  </main>
</BaseLayout>

